@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  box-sizing: border-box;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

:root {
  --darkOrange: hsl(31, 77%, 52%);
  --darkCyan: hsl(184, 100%, 22%);
  --veryDarkCyan: hsl(179, 100%, 13%);
}

.container {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info {
  height: 400px;
  width: 230px;
  padding: 40px 15px 40px 15px;
}

.car-info {
  max-width: 200px;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  color: white;
  justify-content: space-around;
}

.btn {
  width: 150px;
  display: block;
  margin: auto;
  cursor: pointer;
  margin-top: 35px;
  padding: 10px;
  border: none;
  border-radius: 100px;
}

#sedans {
  background-color: var(--darkOrange);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

#suvs {
  background-color: var(--darkCyan);
}
#luxury {
  background-color: var(--veryDarkCyan);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.btn-sedan {
  color: var(--darkOrange);
}

.btn-suv {
  color: var(--darkCyan);
}

.btn-luxury {
  color: var(--veryDarkCyan);
}

.header {
  font-size: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.btn:hover {
  color: white;
  transition: 0.5s ease-out;
}

.btn-luxury:hover {
  background-color: hsl(179, 100%, 20%);
}

.btn-suv:hover {
  background-color: hsl(184, 100%, 29%);
}

.btn-sedan:hover {
  background-color: hsl(31, 77%, 65%);
}
